{% extends "base.html" %}
{% load tags %}
{% load staticfiles %}

{% block title %}{% if station %} - Edit Ground Station {{ station.name }}{% else %} - Add Ground Station{% endif %}{% endblock %}

{% block css %}
  <link href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet" >
  <link href="{% static 'lib/bootstrap-slider/dist/css/bootstrap-slider.min.css' %}" rel="stylesheet" >
  <link href="{% static 'lib/bootstrap-fileinput/css/fileinput.min.css' %}" rel="stylesheet" >
{% endblock css %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h2>
        {% if station %}
          Edit: {{ station.id }} - {{ station.name }}
        {% else %}
          Add Ground Station
        {% endif %}
      </h2>
    </div>
  </div>

  <div class="row">
    <form role="form" enctype="multipart/form-data" method="post">{% csrf_token %}
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">General Info</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="name" class="control-label">Name</label>
              <input value="{{ form.name.value|default_if_none:"" }}" id="station-name" type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
              <label for="description" class="control-label">Description</label>
              <textarea class="form-control" name="description"
                        id="description" rows="3" maxlength="500">{{ form.description.value|default_if_none:"" }}</textarea>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Location</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="lat" class="control-label">Latitude</label>
                  <input value="{{ form.lat.value|default_if_none:"" }}" id="lat" type="text" class="form-control" name="lat" placeholder="{{ form.lat.help_text }}" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="lng" class="control-label">Longtitude</label>
                  <input value="{{ form.lng.value|default_if_none:"" }}" id="lng" type="text" class="form-control" name="lng" placeholder="{{ form.lng.help_text }}" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="alt" class="control-label">Altitude (ASL)</label>
                  <input value="{{ form.alt.value|default_if_none:"" }}" id="alt" type="number" class="form-control" name="alt" placeholder="{{ form.alt.help_text }}" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="qthlocator" class="control-label">QTH Locator</label>
              <input class="form-control"
                     id="qthlocator"
                     type="text"
                     name="qthlocator"
                     value="{{ form.qthlocator.value|default_if_none:"" }}"
                     readonly>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Image</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <input id="station-image" type="file" name="image" data-existing="{{ MEDIA_URL }}{{ form.image.value }}">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Settings</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="horizon" class="control-label">Minimum Horizon</label>
              <input id="horizon" type="number" value="{{ form.horizon.value|default_if_none:"" }}" class="form-control" name="horizon" placeholder="{{ form.horizon.help_text }}">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                    title="Your station minimum observable elevation"></span>
            </div>

            <div class="form-group">
              <label for="antennas" class="control-label">Antennas</label>
              <select id="antenna-selection" class="form-control selectpicker" multiple name="antenna"
                      data-selected-text-format="count" data-count-selected-text="Selected {0} antennas">
                {% for antenna in antennas %}
                  <option value="{{ antenna.id }}" {% if antenna in station.antenna.all %}selected{% endif %} data-content="
                    <span class='label label-info'>{{ antenna.band }} {{ antenna.get_antenna_type_display }}</span> {{ antenna.frequency|frq }} - {{ antenna.frequency_max|frq }}
                  ">
                {% endfor %}
              </select>
              <span class="help-block">{{ form.antenna.help_text|safe }}</span>
            </div>

            <hr>

            <div class="form-group">
              <label for="utilization" class="control-label">Target Utilization</label>
              <input id="utilization" type="number" value="{{ form.target_utilization.value|default_if_none:"" }}" class="form-control" name="target_utilization" placeholder="{{ form.utilization.help_text }}">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                    title="Your station target utilization"></span>
            </div>

            <hr>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="testing" {% if form.testing.value %}checked="True"{% endif %} {% if not station.id %}disabled{% endif %}>
                  Testing?
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                            title="Make sure you station is performing well for a period of time before you remove the Testing flag"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/gridsquare.js' %}"></script>
  <script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
  <script src="{% static 'js/station_edit.js' %}"></script>
{% endblock javascript %}
