#success-filter,
#elevation-filter,
#overlap-filter {

    .slider-selection {
        background: #5bc0de;
    }
}

.pass.overlap {
    background: #eee;
}

#map-station {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.overlap-ribbon {
    transform-origin: right top;
    transform: rotate(-90deg) translate(0, -12px);
    float: right;
    background: #d9534f;
    color: white;
    font-weight: bold;
    width: 100px;
    text-align: center;
    margin-top: 3px;
    border-radius: 5px 5px 0 0;
    border: 0 solid #800000;
}

.polar-deg {
    display: block;
    margin-bottom: 15px;
}

.pass-time {
    display: block;
    font-size: 30px;
}

.img-expand {
    color: black;
    position: absolute;
    right: 25px;
    display: block;
    margin-top: 10px;
    text-shadow: -1px -1px 0 lightgray, 1px -1px 0 lightgray, -1px 1px 0 lightgray, 1px 1px 0 lightgray;
    cursor: pointer;
}

.modal-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    height: 100%;
    width: 100%;

    .station-full-image {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block;
    }

    .close {
        color: white;
        text-shadow: none;
        opacity: 1;
        font-size: 2em;
    }
}

#horizon_value, #utilization_value {
    margin: 0 0 0 20px;

    .slider-selection {
        background: #5bc0de;
    }
}
